
/* Set default font family to sans-serif */
body {
    font-family: sans-serif;
    color: #fff;
    font-size: 25px;
}



.container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: none;
  }
  
  .box {
    display: flex;
    align-items: center; /* center children vertically */
    height: 100vh; /* set a height for the container */
     
    
    
    
  }
  
  .overlay {
  
    z-index: 10;
    background: #009938;
    opacity: 0.6;
    width: 50%; /* set a width for the div */
    margin: 0 auto; /* center horizontally */
  }

  /* .parent-container {
    display: flex;
    align-items: center; /* center children vertically */
    /* height: 100vh; /* set a height for the container */
  /* } */
  
  /* .centered-div { */
    /* width: 50%; set a width for the div */
    /* margin: 0 auto; center horizontally */
  /* }
   /* */ 